plots/
plt/
dat/
params/
ref/
archive/
src/archive/
*.ipynb
*.RData*

*.png
*.rds
*.pdf
*.csv

momentuHMM/.Rproj.user
momentuHMM/.Rhistory
momentuHMM/.RData
momentuHMM/.Ruserdata
momentuHMM/src/*.o
momentuHMM/src/*.so
momentuHMM/src/*.dll