plots/
plt/
/dat/
params/
ref/
archive/
src/archive/
doc/

*.ipynb
*.RData*

*.docx
*.png
*.rds
*.pdf

momentuHMM/.Rproj.user
momentuHMM/.Rhistory
momentuHMM/.RData
momentuHMM/.Ruserdata
momentuHMM/src/*.o
momentuHMM/src/*.so
momentuHMM/src/*.dll
momentuHMM/manuscript/*.csv
momentuHMM/vignettes/*.csv